<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Documents</title>
</head>

<body>
<div>
    <h2 class="page-header">Liste des produits</h2>
    <ul>
        <li th:each="document : ${documents}">
        	<a th:href="${'/documents/'+ document.getId() +'/'+ document.getSlug()}" th:text="${document.getSlug()}">
                Produit
              </a>
        </li>
        
        
        <p th:each="doc : ${documents}">			
        
        	<!-- [[${doc.asHtml(linkResolver)}]]  -->
        </p>
    </ul>
</div>
</body>
</html>