<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ntepp SHOP</title>    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/shop-item.css" rel="stylesheet">
</head>

<body>
	<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">ASSIGNMENT II</a>
    </div>
  </nav>
  
  <!-- Page content -->
  <div class="container">
    <div class="row">
    	<div class="card" th:each="product, iter : ${products}">
    		<div data-toggle="modal" th:attr="data-target='#modal-' + ${iter.index}">
    			<div class="text-center">
				  	<img th:src="${product.getImage()}" alt="Product">
				  </div>
				  <hr>
				  <div class="container" >
				    <h4 class="card-title" th:text="${product.getName()}">Name</h4> 
				    <h6 th:text="'RS ' + ${product.getPrice()}">price</h6> 
				  </div>
				  
				 
			</div>
			
		 <!-- The Modal -->
				<div class="modal" th:attr="id='modal-' + ${iter.index}">
				  <div class="modal-dialog">
				    <div class="modal-content">
				
				      <!-- Modal Header -->
				      <div class="modal-header">
				        <h3 class="modal-title">Description</h3>
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				      </div>
				
				      <!-- Modal body -->
				      <div class="modal-body">
				        <div class="container">
							<div class="row">
								<div class="col-4">
								<img th:src="${product.getImage()}" style="height: 150px;">
								</div>
								<div class="col-8">
								<h4 th:text="${product.getName()}">Name</h4>
								<h6 th:text="'RS ' + ${product.getPrice()}">Rs 100</h6>
								<p th:text="${product.getDescription()}">description</p>
								</div>
							</div>
						</div>
				      </div>
				
				      <!-- Modal footer -->
				      <div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-success" data-dismiss="modal">Buy</button>
				
				      </div>
				
				    </div>
				  </div>
				</div>
					<!-- END MODAL -->
			
		</div>
    </div>
   </div>
	
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>